auto-save-list
elpa/
emacs.d
backups
.emacs.desktop*
*.swp
recentf
session*
*.eld
.cask
.#*
emojis
transient
url
eshell
projectile.cache
eb-layouts
request/
network-security.data
.mc-lists.el
.lsp-session-v1
bookmarks
\#*
